[submodule "AWX_Config"]
	path = AWX_Config
	url = https://gist.github.com/e890209d96f29e2019c70a2f9e06a862.git
[submodule "Install_AWX"]
	path = Install_AWX
	url = https://github.com/JonTheNiceGuy/Install_AWX_And_Configure_It
[submodule "Install_Gitlab"]
	path = Install_Gitlab
	url = https://gist.github.com/14b5292a9ef6968c9fc92fd2df0c0ba3.git
[submodule "policy"]
	path = policy
	url = https://github.com/E-and-CS/SampleFortigatePolicy
